<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/webapp/resources/css/style.css" media="screen" th:href="@{/resources/css/style.css}"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../resources/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header">
</div>
<div class="container">
    <div class="hero-unit">
        <h1>
            Performance Reports
        </h1>

        <table class="table table-condensed thead">
            <thead>
            <tr>
                <th>Date</th>
                <th>Company ID</th>
                <th>Data Type</th>
                <th>Name</th>
                <th>Operation</th>
                <th>Site ID</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="erpdata : ${erpdatalist}">
                <td th:text="${erpdata.time}"></td>
                <td th:text="${erpdata.companyID}"></td>
                <td th:text="${erpdata.datatype}"></td>
                <td th:text="${erpdata.name}"></td>
                <td th:text="${erpdata.operation}"></td>
                <td th:text="${erpdata.siteID}"></td>
                <td th:text="${erpdata.value}"></td>
            </tr>
            </tbody>
        </table>
        <a href="#" th:href="@{/}" class="btn btn-large btn-success">Back</a>

    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
</div>
</body>
</html>