<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css" media="screen"
          th:href="@{/resources/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/webapp/resources/css/style.css" media="screen" th:href="@{/resources/css/style.css}"/>
    <link rel="stylesheet" href="/webapp/resources/css/jquery-ui.css" type="text/css"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../resources/js/jquery-ui.js"></script>
    <script src="../../resources/js/jquery-ui.min.js"></script>
    <script src="../../resources/js/bootstrap.min.js"></script>
    <style type="text/css">
        .ui-datepicker {
            background: #f9f9f9;
            color: #080808;
            text-shadow: 0px 1px 0px #f9f9f9;
            filter: dropshadow(color=#f9f9f9, offx=0, offy=1);
            border: 1px solid #55838f;
            position: relative;
            margin: -1px;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header :: header">
</div>
<div class="container">
    <h1>Time Range</h1>
    <div align="left" class="hero-unit">
        <form th:action="@{/data}" method="post">
            <table>
                <tr>
                    <td>Start Date:</td>
                    <td><input lang="en" type="date" name="startdate"/></td>
                </tr>
                <tr>
                    <td>End Date:</td>
                    <td><input lang="en" type="date" name="enddate"/></td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="btn btn-large btn-success">Submit</button>
                    </td>
                </tr>
            </table>
            <div align="left" class="hero-unit">
                <h1>
                    Manufactural Reports
                </h1>

                <table class="table table-condensed thead">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Company ID</th>
                        <th>Data Type</th>
                        <th>Device ID</th>
                        <th>Machine ID</th>
                        <th>Name</th>
                        <th>Sensor ID</th>
                        <th>Site ID</th>
                        <th>Value</th>
                        <th>Wo ID</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="data : ${datalist}">
                        <td th:text="${data.time}"></td>
                        <td th:text="${data.companyID}"></td>
                        <td th:text="${data.datatype}"></td>
                        <td th:text="${data.deviceID}"></td>
                        <td th:text="${data.machineID}"></td>
                        <td th:text="${data.name}"></td>
                        <td th:text="${data.sensorID}"></td>
                        <td th:text="${data.siteID}"></td>
                        <td th:text="${data.value}"></td>
                        <td th:text="${data.woID}"></td>
                    </tr>
                    </tbody>
                </table>
                <a href="#" th:href="@{/}" class="btn btn-large btn-success">Back</a>
            </div>
            <div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
        </form>
    </div>
</div>

</body>
</html>