<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../../../resources/css/bootstrap.min.css" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/webapp/resources/css/style.css" media="screen" th:href="@{/resources/css/style.css}"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js"></script>
</head>
<body>
<div th:fragment="footer">
    &copy; InValue Portal
</div>
<div th:fragment="footer-admin">
    &copy; 2017 Admin Footer
</div>
</body>
</html>